{% extends "_datatables.html" %}
{% set active_page = "admin_members" %}

{% block title %}Admin - Transactions{% endblock %}
{% block content %}
<h1>Admin - Transactions</h1>
<p>Here's a table of all transactions:</p>
<table class="table table-hover datatable">
    <thead>
        <tr>
            <th>Time</th>
            <th>Entity</th>
            <th>Amount</th>
            <th>Source</th>
            <th>Donation</th>
            <th>Notes</th>
            <th>Bank Reference</th>
            <th>Pending</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.time }}</td>
            <td>{{ transaction.entity.name }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.source }}</td>
            <td>{{ transaction.is_donation }}</td>
            <td>{{ transaction.notes }}</td>
            <td>{{ transaction.bank_reference }}</td>
            <td>{{ transaction.pending }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}
