{% extends "_datatables.html" %}
{% set active_page = "admin_entities" %}
{% set datatables = True %}

{% block title %}Admin - Members{% endblock %}
{% block head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
{% endblock %}
{% block content %}
<h1>Admin - Entities</h1>
<p class="pull-left">Here's a table of all entities that aren't members:</p>
<a class="btn btn-primary pull-right" href="{{url_for('.entity_new')}}">
    <i class="fa fa-plus"></i> New Entity
</a>
<div class="clearfix" style="margin-bottom: 20px"></div>
<table class="table table-hover datatable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody data-link="row" class="rowlink">
        {% for entity in entities %}
        <tr>
            <td><a href="{{url_for('.entity', id=entity.id)}}">{{ entity.name }}</a></td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.phone }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}
{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
{% endblock %}
