{% extends "_layout.html" %}
{% set active_page = "members" %}

{% block title %}{% if new %}New Member{% else %}{{name}}{% endif %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/bootstrap-datepicker/datepicker3.css">
{% endblock %}

{% block content %}
<h1>{% if new %}New Member{% else %}{{name}}{% endif %}</h1>
<form method="POST" role="form" class="col-sm-8 col-md-6 col-lg-5">
    <div class="form-group">
        <label for="name">Name</label>
        <input required type="text" class="form-control" name="name" id="name" value="{{name}}">
    </div>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" name="email" id="email" value="{{email}}">
    </div>
    <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" name="phone" id="phone" value="{{phone}}">
    </div>
    <div class="form-group">
        <label for="joined_date">Joined Date</label>
        <input required data-provide="datepicker" data-date-format="yyyy-mm-dd" type="text" class="form-control" name="joined_date" id="joined_date" value="{{joined_date}}">
    </div>
    <div class="form-group">
        <label for="agreement_date">Agreement Date</label>
        <input data-provide="datepicker" data-date-format="yyyy-mm-dd" type="text" class="form-control" name="agreement_date" id="agreement_date" value="{{agreement_date}}">
    </div>
    <div class="form-group">
        <label for="is_keyholder">Keyholder?</label>
        <input type="checkbox" class="form-control" name="is_keyholder" id="is_keyholder" value="keyholder" {% if is_keyholder %}checked="true"{% endif %}">
    </div>
    <button type="submit" class="btn btn-primary">{% if new %}Create{% else %}Update{% endif %}</button>
    <a class="btn btn-secondary text    -danger" href="{{url_for('.members')}}">Cancel</a>
</form>
{% endblock %}

{% block scripts %}
<script src="/static/bootstrap-datepicker/bootstrap-datepicker.js"></script>

{% endblock %}
