{% extends "_layout.html" %}
{% set active_page = "payments" %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css">
{% endblock %}
{% block title %}Payments{% endblock %}
{% block content %}
<h1>Make a payment</h1>
<p>Make a payment to MakeHackVoid via Bank Transfer, Bitcoin, or Credit Card.</p>
<div class='row'>
    <form id="payments" method="POST" role="form" class="col-sm-8 col-md-6 col-lg-5">
        <div class="form-group">
            <label for="amount-dollars">Payment Amount</label>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input required type="number" step="0.01" class="form-control" name="amount-dollars" id="amount-dollars">
              <input type="hidden" name="amount" id="amount" value="{{amount}}">
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input required type="email" class="form-control" name="email" id="email" value="{{email}}">
            <p class="help-block">This should match the email you used to sign up to MHV.</p>
        </div>
        <div class="row">
        <div class="form-group col-xs-6">
            <label for="type">Payment Type</label>
            <select class="form-control selectpicker" name="type" id="type" value="{{type}}">
              <option value="0" >Membership</option>
              <option value="1" >Donation</option>
              <option value="2" >Other</option>
            </select>
        </div>
        <div class="form-group col-xs-6">
            <label for="method">Payment Method</label>
            <select class="form-control selectpicker" name="method" id="method" value="{{method}}">
              <option value="0" data-content="<i class='fa fa-fw fa-bank'></i> Bank Transfer">Bank Transfer</option>
              <option disabled value="1" data-content="<i class='fa fa-fw fa-bitcoin'></i> Bitcoin">Bitcoin</option>
              <option disabled value="2" data-content="<i class='fa fa-fw fa-credit-card'></i> Credit Card">Credit Card</option>
            </select>
        </div>
        </div>
        <div class="form-group">
            <label for="notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="notes" value="{{notes}}">
        </div>
        <input type="hidden" name="reference" id="reference">
        <button type="submit" class="btn btn-default">Continue</button>
    </form>
</div>

<!-- Modal for bank transfer details -->
<div class="modal fade" id="bank-transfer">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title">Bank Transfer</h4>
      </div>
      <div class="modal-body">
        <p>Please enter the following details into your bank&rsquo;s online transfer facility:</p>
        <dl>
        <dt>Name</dt><dd>Make Hack Void Inc</dd>
        <dt>BSB</dt><dd>062913</dd>
        <dt>Account Number</dt><dd>10910053</dd>
        <dt>Transfer Amount</dt><dd id="bank-transfer-amount"></dd>
        <dt>Reference <small class="text-danger">(important!)</small></dt><dd id="bank-transfer-reference"></dd>
        </dl>
        <p>Once you have initiated the transfer, please press the confirmation button below.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="bank-transfer-confirm" class="btn btn-primary" data-toggle="tooltip" title="Make sure you&rsquo;ve initiated your transfer first!">Confirm Payment</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.js"></script>
<script type="text/javascript">
  function generateReference(length) {
    var choices = 'abcdefghijklmnopqrstuvwxyz234567'; // Base32 characters
    var string = "";
    for(i = 0; i < length; i++) {
      string += choices[Math.floor((Math.random() * 32))]; // random number between 1 and 32
    }
    return string;
  }

  function formatCurrency(total) {
      return '$' + parseFloat(total, 10).toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, "$1,").toString();
  }

  $(".selectpicker").selectpicker();
  $('#bank-transfer-confirm').tooltip();

  $("#payments").submit(function(event) {
      var method = $("#method").val();
      if (method == 0) {         // Bank Transfer
          $("#bank-transfer-amount").text(formatCurrency($("#amount-dollars").val()));
          $("#bank-transfer-reference").text(generateReference(6));
          $("#bank-transfer").modal();
      } else if (method == 1) {  // Bitcoin

      } else if (method == 2) {  // Credit Card

      }
      event.preventDefault();
  });

  $("#bank-transfer-confirm").click(function() {
    $("#reference").val($("#bank-transfer-reference").text());
    // Set hidden cents amount from editable dollars amount
    $("#amount").val($("#amount-dollars").val() * 100);
    $("#payments").unbind('submit').submit();
  });

  // Load dollar amount from hidden cents amount
  $(document).ready(function() {
    var amount = $("#amount").val();
    if(amount !== "")
      $("#amount-dollars").val(amount / 100);
  });
</script>
{% endblock %}
