{% extends "_layout.html" %}
{% set active_page = "signup" %}

{% block title %}Sign Up{% endblock %}
{% block content %}
<h1>Sign up</h1>
<p>Info about signing up to MHV, such as rules, rights, and responsibilities goes here.</p>
<form role="form" class="col-sm-8 col-md-6 col-lg-5">
    <div class="row">
        <div class="form-group col-xs-6">
            <label for="first-name">First Name</label>
            <input type="text" class="form-control" id="first-name">
        </div>
        <div class="form-group col-xs-6">
            <label for="last-name">Last Name</label>
            <input type="text" class="form-control" id="last-name">
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
        <label for="email">Phone Number</label>
        <input type="email" class="form-control" id="email">
    </div>
    <div class="checkbox">
        <label>
            <input id="agree" type="checkbox"> I agree to the rules &amp; privacy policy
        </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
